<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Hoai Ninh - Laptopshop"/>
    <meta name="author" content="Hoai Ninh"/>
    <title>Create user</title>

    <!-- Styles and Scripts -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/uploadFile.js}"></script>
</head>

<body class="sb-nav-fixed">
<!-- Header -->
<div th:insert="~{admin/layout/admin-header :: header}"></div>

<div id="layoutSidenav">
    <!-- Sidebar -->
    <div th:insert="~{admin/layout/admin-sidebar :: sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Manage Users</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        <a th:href="@{/admin}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a th:href="@{/admin/user}">Users</a>
                    </li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>

                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-6 col-12 mx-auto">
                            <h3>Create an user</h3>
                            <hr>

                            <!-- User Creation Form -->
                            <form th:action="@{/admin/user/create}" th:object="${createUser}" method="post"
                                  class="row" enctype="multipart/form-data">
                                <div class="mb-3 col-md-6 col-12">
                                    <label class="form-label">Email:</label>
                                    <input type="email" class="form-control"
                                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                           th:field="*{email}"/>
                                    <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback"
                                         th:errors="*{email}"></div>
                                </div>
                                <div class="mb-3 col-md-6 col-12">
                                    <label class="form-label">Password:</label>
                                    <input type="password" class="form-control"
                                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                           th:field="*{password}"/>
                                    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback"
                                         th:errors="*{password}"></div>
                                </div>
                                <div class="mb-3 col-md-6 col-12">
                                    <label class="form-label">Full Name:</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid' : ''"
                                           th:field="*{fullName}"/>
                                    <div th:if="${#fields.hasErrors('fullName')}" class="invalid-feedback"
                                         th:errors="*{fullName}"></div>
                                </div>
                                <div class="mb-3 col-md-6 col-12">
                                    <label class="form-label">Phone Number:</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid' : ''"
                                           th:field="*{phoneNumber}"/>
                                    <div th:if="${#fields.hasErrors('phoneNumber')}" class="invalid-feedback"
                                         th:errors="*{phoneNumber}"></div>
                                </div>
                                <div class="mb-3 col-12">
                                    <label class="form-label">Address:</label>
                                    <input type="text" class="form-control"
                                           th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''"
                                           th:field="*{address}"/>
                                    <div th:if="${#fields.hasErrors('address')}" class="invalid-feedback"
                                         th:errors="*{address}"></div>
                                </div>
                                <div class="mb-3 col-md-6 col-12">
                                    <label class="form-label">Role:</label>
                                    <select class="form-select" th:field="*{role.name}">
                                        <option th:each="role : ${roles}" th:value="${role.name}"
                                                th:text="${role.name}"></option>
                                    </select>
                                </div>
                                <div class="mb-3 col-md-6 col-12">
                                    <label for="avatarFile" class="form-label">Avatar:</label>
                                    <input class="form-control" type="file" id="avatarFile"
                                           accept=".png, .jpg, .jpeg" name="userAvatar"/>
                                </div>
                                <div class="mb-3 col-12 text-center">
                                    <img alt="User avatar" id="avatarPreview"
                                         style="max-height: 250px; display: none; margin: auto;">
                                </div>
                                <div class="mb-5 col-12">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <div th:insert="~{admin/layout/admin-footer :: footer}"></div>
    </div>
</div>

<!-- Bootstrap and Custom Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>

</html>