<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LaptopShop</title>
</head>
<body>

<div th:fragment="footer">
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5);">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div>
                            <h1 class="text-primary mb-0">LaptopShop</h1>
                            <p class="text-secondary mb-0">@hoaininh</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Giới thiệu</h4>
                        <p>Mình là Hoài Ninh, bán laptop cá nhân, hàng xách tay chất lượng cao, giá cả hợp lý. Cảm ơn bạn đã ủng hộ!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Thông tin shop</h4>
                        <p>Giới thiệu</p>
                        <p>Bảo hành 1 đổi 1 trong 7 ngày</p>
                        <p>Hỗ trợ trả góp 0%</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Hỗ trợ khách hàng</h4>
                        <p>Kiểm tra đơn hàng</p>
                        <p>Hỏi đáp qua tin nhắn</p>
                        <p>Đổi trả nếu lỗi</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Liên hệ</h4>
                        <p>Chủ shop: Hoài Ninh</p>
                        <p>SĐT: 0962 411 916</p>
                        <p>Email: ninh2k4@gmail.com</p>
                        <p>Địa chỉ: Gần trường ĐH Điện Lực</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <span class="text-light"><i class="fas fa-copyright text-light me-2"></i>Hoài Ninh - Laptopshop, All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
</div>
</body>

</html>